.App {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  height: 100%;
  padding: 10px;
  background-color: #282c34;
}

.App-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: 18px;
  color: white;
}

.option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  align-items: center;
}

button,
a.download {
  padding: 10px 20px;
  margin: 5px;
  background-color: rgba(38, 107, 85, 0.3);
  border: none;
  border: 1px solid rgb(38, 107, 85);
  border-radius: 10px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

input::file-selector-button {
  padding: 10px 10px;
  margin: 10px 10px 10px 0px;
  background-color: rgba(38, 107, 85, 0.3);
  border: none;
  border: 1px solid rgb(38, 107, 85);
  border-radius: 10px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.file-name {
  color: white;
  font-size: 18px;
  border-bottom: solid 1px rgba(38, 107, 85, 0.3);
}

.line {
  width: 100%;
  margin: 10px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.5);
}

.error {
  margin: 10px;
  width: 80%;
  padding: 0px 20px;
  /* color: rgb(205, 29, 29); */
  color: white;
  background-color: rgba(205, 29, 29, 0.5);
}